body {
	padding-top: 0;
}
@media screen and (max-width: 768px) {
  body { 
    padding-top: 0; 
  }
}

form .list-group-item {
    cursor: pointer;
}

div#page-footer {
	background-color: #F7F9F4;
	margin-top: 20px;
}