{% load bootstrap3 %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="akshay" content="">
      <!--removed useless component ... rethink (akshay)-->
    <link rel="shortcut icon" href="">

    <title>CourseOwl</title>
    {% bootstrap_css %}
      {% bootstrap_javascript %}

    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Not sure I make changes by friday -->
    <link href="jumbotron.css" rel="stylesheet">


  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Home</a>
             <a class="navbar-brand" href="#">Projects</a>
             <a class="navbar-brand" href="#">Services</a>
             <a class="navbar-brand" href="#">About</a>
             <a class="navbar-brand" href="#">Sign up</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>
      </div>
    </div>


    <div class="jumbotron">
      <div class="container">
        <h1><b>CourseOwl</b></h1>
        <p>We aim to overcome the obstacle of finding a course through this system that will provide recommendations from massive open online courses to people based on their interests and courses they have taken.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2><b>About Us</b></h2>
          <p> With the abundance of possible classes that one can take online, it is highly unlikely a student will ever get to see or take some of the ones that are most interesting to them. We aim to overcome this obstacle by developing a system that will provide recommendations from massive open online courses to people based on their interests and courses they have taken. </p>

            <p><a class="btn btn-default" href="#" role="button">Know more &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2><b>Sites Supported</b></h2>
          <p><ul class="nav nav-list">
         <li><a href="#"><b>Code Academy</b></a></li>
                    <li><a href="#"><b>Courseera</b></a></li>
                    <li><a href="#"><b>Khan Academy</b></a></li>
                    <li><a href="#"><b>Lynda</b></a></li>
                  </ul> </p>
          <p><a class="btn btn-default" href="#" role="button">View more &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2><b>Frameworks</b></h2>
          <p><ul class="nav nav-list">
        <li><a href="#"> <b>Python/ Django</b></a></li>
        <li><a href="#"><b> MySQL</b></a></li>
        <li><a href="#"><b>Prediction.IO</b></a></li>
        <li><a href="#"> <b>CSS/HTML/JS</b></a></li></ul></p>
          <p><a class="btn btn-default" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Copyright © 2014 CourseOwl Inc. All rights reserved.</p>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>