<div class="modal fade" id="courseinfo" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalLabel">Course Information</h4>
      </div>
      <div class="modal-body" >
       <h5>Course: </h5><p id="course_name"></p>
       <h5>Provider: </h5><p id="provider"></p>
       <h5>Subject: </h5><p id="subject"></p>
       <h5>Instructor: </h5><p id="course_ins"></p>
       <h5>Description: </h5><p id="course_desc"></p>
       <h5>URL: </h5> <a id="url" target="_blank" href=""><p id="url"></p></a>
       <br>
       <strong>Similar Courses:</strong>
          <a id="similar_course_1_link" href="">
            <div id="similar_course_1"></div>
          </a>
          <a id="similar_course_2_link" href="">
            <div id="similar_course_2"></div>
          </a>
          <a id="similar_course_3_link" href="">
            <div id="similar_course_3"></div>
          </a>
       <p><a id="helpout-url" target="_blank" href="">Get help from Google Helpouts!</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>