<!-- Deactivate account confirmation modal -->
<div class="modal fade" id="deactivate-account" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalLabel">Deactivate Account</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to deactivate your CourseOwl account?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No, I changed my mind</button>
                <a id="confirmDeactivate" type="button" class="btn btn-danger" href="/accounts/deactivate_account/">Yes, deactivate</a>
            </div>
        </div>
    </div>
</div>