{% include 'header.html' %}
{% load socialaccount %}


<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
 <link rel="stylesheet" href="stylesheets/stylesheet.css">
<div class="pagination-centered">
<div class="col-md-6 col-sm-6">
            <div class="container">
                 <div class="row vertical-center-row row-md-offset-4">
                  <div class="form">
                     <h2>Welcome</h2>
<!-- testing for table / topbar / color, akshay-->
    <div class="topbar">
      <div class="fill">
        <div class="container span18">


          <p class="pull-right">Logged in as <a href="#">{{ email }}</a></p>
        </div>
      </div>
    </div>

    <div class="container span18">
      <div class='cleaner_h40'></div>
        <div class='span14'>
          {% if enrolled_list %}
          <h2>Active Courses</h2>
          <table class='table table-striped'>
              <thead>
                  <tr>

                      <th class='span4'>Course</th>
                      <th class='span2'>Provider</th>
                      <th class='span2'>Instructor</th>
                      <th class='span4'>Action</th>
                  </tr>
              </thead>
              <tbody>
              {%for course in enrolled_list %}
                  <tr data-id="{{course.id}}">

                      <td>{{  course.name }}</td>
                      <td>{{ course.provider }}</td>
                      <td>{{  course.instructor }}</td>
                      <td>
                        <div class='btn btn-small btn-info'>Course info</div>
                        <div class='btn btn-small btn-danger pull-right dropButton' data-toggle="modal">
                          Drop course
                        </div>
                      </td>
                  </tr>
              {% endfor %}

              </tbody>
          </table>
        {% else %}
          <h2>It seems you have no active courses</h2>
          <input type="button" class="btn btn-success btn-large" value="Add courses">
        {% endif %}
          <h2>Recommendations</h2>
         <table class='table table-striped'>
              <thead>
                  <tr>

                      <th class='span4'>Course</th>
                      <th class='span2'>Provider</th>
                      <th class='span4'>Instructor</th>
                      <th class='span4'>Action</th>
                  </tr>
              </thead>
              <tbody>
              <!-- Check again -->
                  <tr>
                {%for course in recommend_list %}
                      <td>{{course.name}}</td>
                      <td>{{course.provider}}</td>
                      <td>{{course.instructor}}</td>
                      <td>
                        <div class='btn btn-small btn-info'>Course info</div>
                        <div class='btn btn-small btn-success'>Add Course</div>
                      </td>
                  </tr>
                    {% endfor %}
              </tbody>
          </table>
        </div><!-- do not modify the tags see zebra-striped , akshay-->
      </div>
    </div></div></div></div></div>
    <div class="row vertical-center-row row-md-offset-4">
            <div class="col-md-4 col-md-offset-4">

        <div class="well span4 sidebar">
            <div class='cleaner_h10'></div>

            <div class='btn btn-primary btn-large'>Update email</div>
            <div class='btn btn-primary btn-large'>Update password</div>
            <p><a href='#'>Add more subjects and courses</a></p>
            <p><a href='#'>Help</a></p>
        </div><!-- end of sidebar -->
</div></div>

<!-- Drop course confirmation modal -->
<div class="modal fade" id="dropCourse" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalLabel">Dropping Course</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to drop this course?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="confirmDrop" type="button" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>

<script>
  // Allows dropping courses
  $(function() {
    var dropCourseID;
    // Get course id
    $('.dropButton').on('click', function(event) {
      event.preventDefault();
      var courseID = $(this).closest('tr').data('id');
      dropCourseID = courseID;
      $('#dropCourse').modal('show');
    });

    $('#confirmDrop').on('click', function(event) {
      $('#dropCourse').modal('hide');
      $.post(
        "/api/drop",
        { course_to_drop: dropCourseID }
      ).done(function(res) {
        $('[data-id="' + dropCourseID + '"]').remove();
      });
    });
  });
</script>
{% include 'footer.html' %}