{% extends "base.html" %}
{% block content %}
  {% load socialaccount %}
  {% providers_media_js %}

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <div class="container pagination-centered">
    <div class="row vertical-center-row">
      <div class="col-md-5 col-md-offset-5">
        <h3>Sign up</h3>

        <div class="form">
          <div class="form">
            <form class="form-horizontal" method="POST" action="/accounts/signup/">{% csrf_token %}
              <div class="form-group">
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Email" name="email" required>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <input type="password" placeholder="Password" class="form-control" name="password" required>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <input type="password" placeholder="Password (confirm)" class="form-control" name="password_confirm"
                         required>
                </div>
              </div>
              <p>

              <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                  <button type="submit" class="btn btn-success">Sign up</button>
                </div>
              </div>
              </p>
            </form>
          </div>
        </div>
        Sign up using:
        <a href="{% provider_login_url "facebook" method="js_sdk" %}">
          <button class="btn btn-facebook">
            <i class="fa fa-facebook"></i>
          </button>
        </a>
        <a href="{% provider_login_url "google" %}">
          <button class="btn btn-google-plus">
            <i class="fa fa-google-plus"></i>
          </button>
        </a>
      </div>
    </div>
  </div>

{% endblock %}
