{% extends "base.html" %}
{% block content %}


{% load socialaccount %}
{% providers_media_js %}

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <div class="container pagination-centered">


           <div align="center" class="control-group"><img src=" http://www.jimcromwell.com/jimscripts/404cx.png">
           <!-- getting rid of <p> tags to add some white spaces-->
                <h2> Sorry, the page you requested cannot be found. </h2>

           </div>
      </div>

{% endblock %}
