{% include 'header.html' %}

    <div class="jumbotron">

        <div class="container">
            <h1><b>CourseOwl</b></h1>
            <p>We provide a recommendation system for Massively Online Open Courses (MOOCs) that allows students to track and discover offerings from multiple providers.</p>
            <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2><b>About Us</b></h2>
                <p>With the abundance of possible classes that one can take online, it is highly unlikely that a student be able to discover interesting and relevant courses, especially across multiple providers. We aim to overcome this obstacle by developing a system that will provide recommendations from massive open online courses to people based on their interests and courses they have taken.</p>
                <p><a class="btn btn-default" href="#" role="button">Know more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2><b>Course Providers</b></h2>
                <ul class="nav nav-list">
                    <li><a href="#"><b>Codecademy</b></a></li>
                    <li><a href="#"><b>Coursera</b></a></li>
                    <li><a href="#"><b>Khan Academy</b></a></li>
                    <li><a href="#"><b>Lynda</b></a></li>
                    <li><a href="#"><b>And many more</b></a></li>
                </ul>
                <p><a class="btn btn-default" href="#" role="button">View more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2><b>Frameworks</b></h2>
                <ul class="nav nav-list">
                    <li><a href="#"> <b>Python/Django</b></a></li>
                    <li><a href="#"><b>PostgreSQL</b></a></li>
                    <li><a href="#"><b>Prediction.IO</b></a></li>
                    <li><a href="#"> <b>CSS/HTML/JS</b></a></li>
                </ul>
                <p><a class="btn btn-default" href="#" role="button">Learn more &raquo;</a></p>
            </div>
        </div>
        <hr>
        </div>

{% include 'footer.html' %}
