{% include 'header.html' %}

    <div class="jumbotron">

        <div class="container">
            <h1>Blackwood Consulting</h1>
            <p>Career Center</p>
            <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2><b>About Us</b></h2>
                <p> </p>
                <p><a class="btn btn-default" href="#" role="button">Know more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2><b>Available Opportunities</b></h2>
                <ul class="nav nav-list">
                    <li><a href="#"><b>Consultant</b></a></li>
                    <li><a href="#"><b>Database Admin</b></a></li>
                    <li><a href="#"><b>Software Developer</b></a></li>
                    <li><a href="#"><b>Android Developer</b></a></li>
                    <li><a href="#"><b>Signup for notifications</b></a></li>
                </ul>
                <p><a class="btn btn-default" href="#" role="button">View more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2><b>Meet our recruiters </b></h2>
                <ul class="nav nav-list">
                    <li><a href="#"> <b>Danny</b></a></li>
                    <li><a href="#"><b>Manny</b></a></li>
                    <li><a href="#"><b>Penny</b></a></li>
                    <li><a href="#"> <b>Lanny</b></a></li>
                </ul>
                <p><a class="btn btn-default" href="#" role="button">Learn more &raquo;</a></p>
            </div>
        </div>
        <hr>
        </div>

{% include 'footer.html' %}
