{% extends "base.html" %}
{% block content %}
<style>
  .list-group-item {
    cursor: pointer;
  }
</style>
<div class="jumbotron">
    <div class="container">
        <h1><b>Tell us about yourself</b></h1>
        <p>Here you can tell us which subjects you like</p>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-12">
        <form method="post">
          {% csrf_token %}
          <input type="submit" value="Proceed to course selection" class="btn btn-primary pull-right">
          <h2>Currently liked subjects</h2>
          <ul class="list-group liked-subjects">
            {% for sub in liked_subjects %}
            <a class="list-group-item" data-subject-id="{{ sub.id }}">
              {{ sub.name|capfirst }}
            </a>
            {% endfor %}
          </ul>
          <h2>Subjects available</h2>
          <ul class="list-group other-subjects">
            {% for sub in subjects %}
              <a class="list-group-item" data-subject-id="{{ sub.id }}">
                {{ sub.name|capfirst }}
              </a>
            {% endfor %}
          </ul>
        </form>
      </div>
    </div>
</div>

<script>
  $(function() {
    // Avoids setting onclick listener on each list items via event delegation
    $('.other-subjects').on('click', '.list-group-item', function(event) {
      $(this).fadeOut(function() {
        $(this).appendTo('.liked-subjects');
        $(this).fadeIn();
      });
    });
    $('.liked-subjects').on('click', '.list-group-item', function(event) {
      $(this).fadeOut(function() {
        $(this).appendTo('.other-subjects');
        $(this).fadeIn();
      });
    });

    // add a hidden input for the selected subjects
    $('input[type="submit"]').on('click', function(event) {
      var ids = [];
      $likedSubjects = $('.liked-subjects a');
      for (var i=0, length = $likedSubjects.length; i < length; i++) {
        ids.push($($likedSubjects[i]).data('subject-id'));
      }
      $('form').append($('<input type="hidden" value="' + JSON.stringify(ids) + '" name="subject_ids">'));
    });
  });
</script>

{% endblock %}
