{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1><b>One last step</b></h1>
        <p>Choose courses based on your liked subjects</p>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-12">
        <form method="post">
          {% csrf_token %}
          <input type="submit" id="submit-courses" value="Submit preferences" class="btn btn-success pull-right">
          <h2>Selected courses</h2>
          <ul class="list-group enrolled-courses">
            {% for course in enrolled %}
            <a class="list-group-item" data-course-id="{{ course.id }}">
              {{ course.name|capfirst }}
            </a>
            {% endfor %}
          </ul>
          <h2>Available courses</h2>
          <ul class="list-group other-courses">
            {% for course in courses %}
            <a class="list-group-item" data-course-id="{{ course.id }}">
              {{ course.name|capfirst }}
            </a>
            {% endfor %}
          </ul>
        </form>
      </div>
    </div>
</div>

<script src="/static/js/personalize_helper.js"></script>
<script>
  $(function() {
    // Sets animations/listeners for moving items between lists on click
    setSwitchActions('.other-courses', '.enrolled-courses');

    bundleSelectionsOnSubmit({
      'buttonID': '#submit-courses',
      'selectedItemsSelector': '.enrolled-courses a',
      'dataID': 'course-id',
      'inputName': 'course_ids'
    });
  });
</script>

{% endblock %}
