{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1><b>Tell us about yourself</b></h1>
        <p>Here you can tell us which subjects you like</p>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-12">
        <form method="post">
          {% csrf_token %}
          <input type="submit" value="Proceed to course selection" class="btn btn-primary">
          <ul class="list-group">
            {% for sub in subjects %}
              <a class="list-group-item">
                <input type="checkbox" data-subject-id="{{ sub.id }}">
                {{ sub.name|capfirst }}
              </a>
            {% endfor %}
          </ul>
        </form>
      </div>
    </div>
</div>

<script>
  $(function() {
    // add a hidden input for the selected subjects
    $('input[type="submit"]').on('click', function(event) {
      var ids = [];
      $checkedBoxes = $(':checked');
      for (var i=0, length = $checkedBoxes.length; i < length; i++) {
        ids.push($($checkedBoxes[i]).data('subject-id'));
      }
      $('form').append($('<input type="hidden" value="' + JSON.stringify(ids) + '" name="subject_ids">'));
    });
  });
</script>

{% endblock %}
