{% include 'header.html' %}
<style>
  .list-group-item {
    cursor: pointer;
  }
</style>
<div class="jumbotron">
    <div class="container">
        <h1><b>One last step</b></h1>
        <p>Choose courses based on your liked subjects</p>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-12">
        <form method="post">
          {% csrf_token %}
          <input type="submit" value="Submit preferences" class="btn btn-success pull-right">
          <h2>Selected courses</h2>
          <ul class="list-group enrolled-courses">
            {% for course in enrolled %}
            <a class="list-group-item" data-course-id="{{ course.id }}">
              {{ course.name|capfirst }}
            </a>
            {% endfor %}
          </ul>
          <h2>Available courses</h2>
          <ul class="list-group other-courses">
            {% for course in courses %}
            <a class="list-group-item" data-course-id="{{ course.id }}">
              {{ course.name|capfirst }}
            </a>
            {% endfor %}
          </ul>
        </form>
      </div>
    </div>
</div>

<script>
  $(function() {
    $('.other-courses').on('click', '.list-group-item', function(event) {
      $(this).fadeOut(function() {
        $(this).appendTo('.enrolled-courses');
        $(this).fadeIn();
      });
    });
    $('.enrolled-courses').on('click', '.list-group-item', function(event) {
      $(this).fadeOut(function() {
        $(this).appendTo('.other-courses');
        $(this).fadeIn();
      });
    });
    // add a hidden input for the selected subjects
    $('input[type="submit"]').on('click', function(event) {
      var ids = [];
      $enrolledCourses = $('.enrolled-courses a');
      for (var i=0, length = $enrolledCourses.length; i < length; i++) {
        ids.push($($enrolledCourses[i]).data('course-id'));
      }
      $('form').append($('<input type="hidden" value="' + JSON.stringify(ids) + '" name="course_ids">'));
    });
  });
</script>

{% include 'footer.html' %}
