
{% extends "base.html" %}

{% block content %}

    {% if query %}
       <div class="container">
                 <div class="row vertical-center-row row-md-offset-4">
                  <div class="form">
                     </div></div></div>

        <div class="col-md-12">
                <table class="table table-striped table-bordered">
        <tr>
            <th><h3><strong>Results for {{ query }}:</strong></h3></th>
        </tr>

        {% for result in page.object_list %}
        <tr data-course-id="{{ result.object.id }}">
            <td><h4> <strong>{{ result.object.name }}</strong></h4>

                <ul class="nav nav-tabs">
                    <li class = "active"><a data-toggle="tab" href="#info">Course Info</a></li>
                    <!-- trying something do not remove any commented out code -->
                    <li><a class="text-warning"><strong> Provider: </strong>{{ result.object.provider }}</a></li>

                </ul>
             <div class="tab-content">
                <div id="info">
                        <p>{{ result.object.description }} .....  <a class='info-button' data-toggle="modal" data-target="#courseinfo"> more info.</a></p>
                </div>
            <!-- do not remove for future
                <div id="instr" class="tab-pane fade">
                    <h4>{{ result.object.instructor }} </h4>
                </div> div/label-->

              </div>
                 <p class="navbar-text">
                <button class='btn-small btn-success btn add-button'><i class="glyphicon glyphicon-plus"></i> Add</button>
                <button class='btn-small btn-primary btn taken-button'><i class="glyphicon glyphicon-thumbs-up"></i> Taken</button>
                <button class='btn-small btn-danger btn hide-button'><i class="glyphicon glyphicon-thumbs-down"></i> Hide</button>
                </p>
            </td>

        </tr>
        {% empty %}
            <tr><td>No results found.</td></tr>
        {% endfor %}

        </table>
        </div>
    {% else %}
        <div class="container">
            To search, type something in the search box above.
        </div>
    {% endif %}

    <div class="modal fade" id="courseinfo" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalLabel">Course Information</h4>
      </div>
      <div class="modal-body" >

       <p><strong>Course: </strong><label id = "course_name"></label></p>
       <p><strong>Provider: </strong> <label id = "provider"></label> </p>
       <p><strong>Instructor: </strong><label id = "course_ins"></label></p>
       <strong>Description:</strong><p id = "course_desc"></p>
       <p><strong>Cost: Free</strong></p>
       <p><strong>Visit course at :</strong> <a id = "address" target="_blank" href = ""><strong id = "course_new_url"></strong> </a></p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<script>
    $(function() {
        function setActionListener(actionSelector, apiEndpoint, dataKey) {
            $(actionSelector).on('click', function(event) {
                var $button = $(this);
                var $result = $button.closest('tr');
                var data = {};
                data[dataKey] = $result.data('course-id');

                $.post(
                    apiEndpoint,
                    data
                ).done(function(res) {

                    console.log(res);
                    if (!!res.success) {
                        $result.fadeOut();
                    }
                });
            });
        }
        setActionListener('.add-button', '/api/enroll', 'course_to_add');
        setActionListener('.hide-button', '/api/complete_course', 'completed_course');
        setActionListener('.taken-button', '/api/dislike_course', 'disliked_course');
    });

$(function display_info() {
      $('.info-button').on('click', function(event) {
          var courseID = $(this).closest('tr').data('course-id');

          $.post(
            '/api/course_info',
                 { course_id : courseID }
          ).done(function(res){
              $('#course_name').text(res.info.name);
              $('#provider').text(res.info.provider);
              $('#course_ins').text(res.info.instructor);
              $('#course_desc').text(res.info.description);
              $('#course_new_url').text(res.info.newurl);
              $('#address').attr('href',res.info.newurl);


                console.dir(res);

          });

            display_info();

      });
   });


</script>
{% endblock %}
