
{% extends "base.html" %}

{% block content %}

    {% if query %}
       <div class="container">
                 <div class="row vertical-center-row row-md-offset-4">
                  <div class="form">
                     </div></div></div>

        <div class="col-md-12">
                <table class="table table-striped table-bordered">
        <tr>
            <th><h3><strong>Results for {{ query }}:</strong></h3></th>
        </tr>

        {% for result in page.object_list %}
        <tr>
            <td><h4> <strong>{{ result.object.name }}</strong></h4>

                <ul class="nav nav-tabs">
                    <li class = "active"><a data-toggle="tab" href="#info">Course Info</a></li>
                    <!-- trying something do not remove any commented out code -->
                    <li><a class="text-warning"><strong> Provider: </strong>{{ result.object.provider }}</a></li>

                </ul>
             <div class="tab-content">
                <div id="info">
                        <p>{{ result.object.description }}</p>
                </div>
            <!-- do not remove for future
                <div id="instr" class="tab-pane fade">
                    <h4>{{ result.object.instructor }} </h4>
                </div> -->

              </div>
                 <p class="navbar-text">
                <button class='btn-small btn-success btn'><i class="glyphicon glyphicon-plus"></i> Add</button>
                <button class='btn-small btn-primary btn'><i class="glyphicon glyphicon-thumbs-up"></i> Taken</button>
                <button class='btn-small btn-danger btn'><i class="glyphicon glyphicon-thumbs-down"></i> Hide</button>
                </p>
            </td>

        </tr>
        {% empty %}
            <tr><td>No results found.</td></tr>
        {% endfor %}

        </table>
        </div>
    {% else %}
        <div class="container">
            To search, type something in the search box above.
        </div>
    {% endif %}

{% endblock %}
