
{% extends "base.html" %}

{% block content %}

    {% if query %}
       <div class="container">
                 <div class="row vertical-center-row row-md-offset-4">
                  <div class="form">
                     </div></div></div>

        <div class="col-md-12">
                <table class="table table-striped table-bordered">
        <tr>
            <th><h3><strong>Results for {{ query }}:</strong></h3></th>
        </tr>

        {% for result in page.object_list %}
        <tr data-course-id="{{ result.object.id }}">
            <td><h4> <strong>{{ result.object.name }}</strong></h4>

                <ul class="nav nav-tabs">
                    <li class = "active"><a data-toggle="tab" href="#info">Course Info</a></li>
                    <!-- trying something do not remove any commented out code -->
                    <li><a class="text-warning"><strong> Provider: </strong>{{ result.object.provider }}</a></li>

                </ul>
             <div class="tab-content">
                <div id="info">
                        <p>{{ result.object.description }}</p>
                </div>
            <!-- do not remove for future
                <div id="instr" class="tab-pane fade">
                    <h4>{{ result.object.instructor }} </h4>
                </div> div/label-->

              </div>
                 <p class="navbar-text">
                <button class='btn-small btn-success btn add-button'><i class="glyphicon glyphicon-plus"></i> Add</button>
                <button class='btn-small btn-primary btn taken-button'><i class="glyphicon glyphicon-thumbs-up"></i> Taken</button>
                <button class='btn-small btn-danger btn hide-button'><i class="glyphicon glyphicon-thumbs-down"></i> Hide</button>
                </p>
            </td>

        </tr>
        {% empty %}
            <tr><td>No results found.</td></tr>
        {% endfor %}

        </table>
        </div>
    {% else %}
        <div class="container">
            To search, type something in the search box above.
        </div>
    {% endif %}
<script>
    $(function() {
        $('.add-button').on('click', function(event) {
            var courseID = $(this).closest('tr').data('course-id');
            var $button = $(this);
            $.post(
                '/api/enroll',
                {'course_to_add': courseID}
            ).done(function(res) {
                $button.closest('tr').fadeOut();
            });
        });

        $('.hide-button').on('click', function(event) {
            var $button = $(this);
            var $result = $button.closest('tr');
            var courseID = $result.data('course-id');

            $.post(
                '/api/complete_course',
                {'completed_course': courseID}
            ).done(function(res) {
                $result.fadeOut();
            });
        });

        $('.taken-button').on('click', function(event) {
            var $button = $(this);
            var $result = $button.closest('tr');
            var courseID = $result.data('course-id');

            $.post(
                '/api/dislike_course',
                {'disliked_course': courseID}
            ).done(function(res) {
                $result.fadeOut();
            });
        })
    });
</script>
{% endblock %}
